<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>takPlay.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>382BA0732BCA9CED00C3D2F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>382BA0892BCA9CEF00C3D2F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>382BA0932BCA9CEF00C3D2F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
